{% extends '::layout.html.twig' %}

{% block body %}

    <h1>My home page</h1>

    <p>To start the tests, <a href="{{ path('remiii_aws_download_check_video', {videoNumber: 1}) }}">click here</a></p>

{% endblock body %}
