{% extends '::layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h1>$_ {{ 'text_thank_for_your_help'|trans|capitalize }}</h1>
            <div class="row">
                <div class="col-md-6">
                    <iframe src="http://giphy.com/embed/Tw4z4MD34y11K?html5=true" width="480" height="366" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
